<header>
  <h1>Spelt Docs</h1>
  <nav>
	  <h3>Getting Started</h3>
	  <ul>
	  {% for post in getting-started %}
	  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
	  {% endfor %}
	  </ul>
	  <h3>Writing</h3>
	  <ul>
	  {% for post in writing %}
	  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
	  {% endfor %}
	  </ul>
	  <h3>Templates</h3>
	  <ul>
	  {% for post in customization %}
	  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
	  {% endfor %}
	  </ul>
	  <h3>Publishing</h3>
	  <ul>
	  {% for post in publishing %}
	  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
	  {% endfor %}
	  </ul>
  </nav>
 </header>